.filterContainer{
    align-content: center;
    display: flex;
    justify-content: center;
    margin-top:20px;
    margin-bottom: 24px;
}

input[type=text] {
    width: 200px;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 16px;
    border:none;
    background-color:#f1f1f1;
    padding: 12px 20px 12px 20px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    text-align: center;
    border-radius: 15px;
    color:#4c5153;
    font-style: italic;
  }
  input[type=text]:hover {
    transition:all .5s ease-in-out;
    width:270px;
    background:white;
  }
      
  
  

.search{
    height: 30px;
    width: 30px;
    display: flex;
    align-content: center;
    padding-top: 20px;
}

.searchBar{
    display: flex;
    align-items: center;
    justify-content: center;
    color:#9e9c9c;
    height: 60px;
    width: 100%;
    flex-direction: column;
    padding-top: 20px;
   
    
}

.userGrid{
  margin-top: 10px;
  display: grid;
  justify-content: center;
  grid-gap: 13px;
  grid-template-columns: repeat(2, 450px);
  text-decoration: none;
}

@media (max-width: 768px) {

  .userGrid{
      margin-top: 10px;
      display: grid;
      justify-content: center;
      grid-gap: 5px;
      grid-template-columns: repeat(auto-fill, 200px);
  }

}

.userFigcaption {
  text-decoration: none;
}
.UserInfoContainer{
  margin-top: 10px;
  display: grid;
  justify-content: center;
  grid-gap: 13px;
  grid-template-columns: repeat(1, 400px);
}

.UserInfoContainer figure {
  display:flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  flex:start;
}

.UserInfoContainer div {
  padding-right: 55px;
}

.UserInfoContainer figure:hover {
  transform:scale(1);
  filter:none;
}

.message{
  background: white;
  height: 100px;
  margin-bottom: 100px;
  margin-top: 30px;
  width: 100%;
  display:Flex;
  align-items: center;
  text-align: center;
  padding-left: 33%;
  color:#db252f;
}
