.filterContainer{
    align-content: center;
    display: flex;
    justify-content: center;
    margin-top:20px;
    margin-bottom: 24px;
}

input[type=text] {
    width: 200px;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 16px;
    border:none;
    background-color:#f1f1f1;
    padding: 12px 20px 12px 20px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    text-align: center;
    border-radius: 15px;
    color:#4c5153;
    font-style: italic;
  }
  input[type=text]:hover {
    width:270px;
  }
  

.search{
    height: 30px;
    width: 30px;
    display: flex;
    align-content: center;
    padding-top: 20px;
}

.searchBar{
    display: flex;
    align-items: center;
    justify-content: center;
    color:#dddfe0;
    height: 60px;
    width: 100%;
    flex-direction: column;
    padding-top: 20px;
   
    
}

.userGrid{
  margin-top: 10px;
  display: grid;
  justify-content: center;
  grid-gap: 13px;
  grid-template-columns: repeat(2, 450px);
  text-decoration: none;
}

@media (max-width: 768px) {

  .userGrid{
      margin-top: 10px;
      display: grid;
      justify-content: center;
      grid-gap: 5px;
      grid-template-columns: repeat(auto-fill, 200px);
  }

}

.userFigcaption {
  text-decoration: none;
}
