.userFigure{
    display:flex;
    background:#f1f1f1;
    text-align: center;
    align-items: center;
    border-radius: 15px;
    color:#db252f;
    border-bottom: 6px solid #253746;
 
}


.userFigure:hover{transform:scale(1.08);
    filter: opacity(.9);
}
.userFigure {overflow:hidden;}

.userImg{
    flex:left;
    width: 130px;
    height: 130px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.userImg:hover {-webkit-transform: rotate(360deg);transform: rotate(360deg);}
.userFigcaptionName{
    flex: right;
    text-align: center;
    align-content: center;
    padding-left: 60px;
}

