.nav-container{
display: flex;
padding-left:30%;
}
.menu {
    background-color: #9e9c9c;
    box-shadow: 0px 2px 24px 0px rgba(0, 0, 0, 0.15);
    width: 540px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    padding: 0 40px;;
    border-radius: 15px;
}

.menu:hover{
    background:rgb(209, 199, 199);
}


.menu__link {
    color:white;
    display: inline-block;
    height: 100%;
    font-size: 18px;
    text-decoration: none;
    padding-right: 30px;
   
}

.menu__link:hover {
    color:#db252f;
}




