.Footer{
    text-align: center;
  }
  
  .App-Footer {
    background:#db252f; 
    display: flex;
    align-items: center;
    justify-content: center;
    color:#dddfe0;
    height: 40px;
    width: 100%;
  }

  .App-Footer:hover{
    color:white;
  }
  